---
title: Welcome to Middleman
---

<header>
  <div class='flow'>
    <span class='flow__step'>Customize</span>
  </div>
</header>

<section class="toolbar">
  <ul class="main-tool-list">
    <li class="main-tool-list__item">Text</li>
    <li class="main-tool-list__item">Backdrop</li>
  </ul>
  <div class="options-dropdown">
    <ul>
      <li class="options-dropdown__item">Motif & logo</li>
      <li class="options-dropdown__item--add">Add Text Card</li>
      <li class="options-dropdown__item--add">Add Photo Card</li>
    </ul>
  </div>

  <section class="viewport">
    <span class="viewport-arrow-left">
    </span>
    <div class="image-area">

    </div>
    <span class="viewport-arrow-right">
    </span>
  </section>
